.cardlist {
    
   clear: both;
    display: flex;
    margin-left: 15px;
    flex-direction: row;
    flex-wrap: wrap;
   
    
    
   margin-bottom: 5px;
    
   

}
.categories{
   position: relative;
   right: 120px;
   border-radius: 15%;
border-color: black;
margin-right:  20px;
height: 50px;
width: 100px;
cursor:pointer
}
.categories:hover{
/* border-color: rgb(255, 255, 255); */
}
@media all and (max-width:30em){
 .categories{
display:block;
margin:0.2em auto;
}
}